<!DOCTYPE html>
<html Lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PortifolioCleberson</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="#" href="#">
</head>

<body>
    <h3>Olá Mundo! Bora programar!</h3>


    <script src="/static/bootstrap/js/bootstrap.bundle.min.js" async defer></script>
    <script src="/static/script.js" async defer></script>
</body>

</html>